extends layout

block content
    div.spacer10
    div.container-fluid.page_body
      div.row-fluid
        div.col-md-6.col-md-offset-3
          h3 Calamity Forge
          p Hi, I'm Dale. I created Calamity Forge to learn web development and to make running roleplaying games easier for me (and maybe for you too). I intend to grow the tools here and add more over time. I'd love to hear from you if you found this useful or if you've got ideas for other tools or improvements. You can direct message or tweet me @dalepizza or like me at https://www.facebook.com/megapizzaoverdose.

          h3 Encounter Tool
          p When preparing adventures for my local D&D group I found that it wasn't easy to figure out how many monsters of which challenge ratings (CR) would match the desired XP value. In 5e the total XP of an encounter scales based on the number of creatures involved. This leads to an explosive number of combinations.
          p I started out with a spreadsheet, manually computing all the combinations of XP but by the time my PCs had hit 4th level this became to cumbersome and this tool was born.
          p The tool builds a large master table of "all" possible encounter groupings. It computes groups consisting of single a CR, two CRs and three different CRs. It is usually too complex for a DM to run more than three types of monster in a single encounter so I didn't go beyond that. The tool avoids generating combinations in which the CRs are too far apart or in which there are too many creatures.
          p When you request a specific XP value, the tool filters the table to XP values close to your selected value. It then computes a weighting for each combination preferring encounters with fewer more powerful creatures. I also value single CR encounters higher and devalue encounters that are very similar.

