extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/encounters.css')
  link(rel='stylesheet', href='/stylesheets/individualTreasure.css')

block content
    div.container-fluid.encounterContainer
      div.row-fluid.clearfix.encounterRow
        div.col-md-2
          include encountersQuery
        div.col-md-6#target.encounterTablePanel
          include encounterTable
        div.col-md-4
          include individualTreasure
block scripts
  script(src='/js/encounters.js')
  script(src='/js/individualTreasure.js')
