extends layout

block content
    div.container-fluid
      div.row-fluid
        h1= title
      div.row-fluid
        div.col-md-8
          div#target
            include encounterTable
        div.col-md-4
          include encountersQuery
