extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/encounters.css')

block content
    div.container-fluid.encounterContainer
      div.row-fluid.clearfix.encounterRow
        div.col-md-2
          include encountersQuery
        div.col-md-6#target.encounterTablePanel
          include encounterTable
block scripts
  script(src='/js/encounters.js')