extends layout

block content
    div.spacer10
    div.container-fluid.page_body
      div.row-fluid
        p Enter the total party XP for an encounter to generate possible combinations of creature count and challenge rating.
      div.row-fluid
        div.col-md-3
          include encountersQuery
          div.spacer10
        div.col-md-9#target
          include encounterTable
          div.spacer10
