p Enter the total party XP for an encounter.
input#xpinput(type="text", placeholder="700")
div#xpalert.alert.alert-danger.hidden(role='alert')
  span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
  span.sr-only Error:
  = ' XP must be between ' + xpmin + ' and ' + xpmax
script= 'xpmin = ' + xpmin + '; xpmax = ' + xpmax +';'