extends root

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block layout
  include navbar
  div.container-fluid
    div.row-fluid
      div.big-image
    div.row-fluid
      h1.mystyle-wide Tools for Roleplaying Games