extends layout

block content
  header.main-page-header
    div.row-fluid.row_spacer
      div.col-md-2
    div.row-fluid
      div.col-md-8
        h1.myfont Tools to make running roleplaying games easier