.encounterContainer {
	height: 100%;
}

.encounterRow {
	margin-top: 10px;
	margin-bottom: 10px;
	height: calc(100% - 20px);
}

.encounterTablePanel {
	height: 100%;
}




.encounterTablePanelRow {
	margin-bottom: 10px;
}

.encounterTablePanelHeader {
	margin-top: 0px;
	font-weight: normal;
	font-size: 14pt;
	text-align: left;
}

.encounterTablePanelRollDisplay {
	width: 40px;
	text-align: right;
	float: right;
}

.encounterTablePanelRollButton {
	float: right;
}


.encounterTableInner {
	height: calc(100% - 76px);
}

.encounterTable {
    height: 100%;
    table-layout: auto;
}

.encounterTableHead {
	float: left;
	width: 100%;
}

.encounterTableBody {
	float: left;
	width: 100%;
    height: calc(100% - 38px);
    overflow-y:scroll; 
}

.encounterTableHeaderRow {
	display: table-row;
    text-align: left;
}

.encounterTableBodyRow {
    display: table-row;
    text-align: left;
}

.diceRollColumn {
	text-align: left;
    width: 120px;
}

.CRColumn {
	width: 110px;
	text-align: right;
}

.XPColumn {
	width: 120px;
	text-align: right;
}

.DebugColumn {
	width: 100px;
	text-align: right;
}


