.big-image {
    background-image: url(/images/Anvil-dsd.jpg);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center top;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 } 

.navbar-inverse .navbar-nav>li>a {
    color: #e5e5e5;
}

.navbar-inverse .navbar-brand {
    color: #e5e5e5;
}

.mystyle-wide
{
	position: absolute;
	top: 5%;
	left: 20%;
	width: 500px;
	height: 100px;
	color: #e5e5e5;
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 10;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .mystyle-wide {
  	top: 15%;
  	left: 5%;
    font-size: 26px;
    width: 270px;
  }    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .mystyle-wide {
  	top: 13%;
  	left: 10%;
    font-size: 30px;
    width: 300px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .mystyle-wide {
  	top: 11%;
  	left: 20%;
    font-size: 38px;
    width: 400px;
  }
}

@media only screen and (min-width: 992px){
  .mystyle-wide {
  	top: 15%;
  	left: 20%;
    font-size: 42px;
    width: 450px;
  }
}

@media only screen and (min-width: 1200px){
  .mystyle-wide {
  	top: 17%;
  	left: 20%;
    font-size: 46px;
    width: 500px;
  }
}

